In [2]:
# ! pip install boto3

In [3]:
import boto3
import sqlite3
import pandas as pd

In [4]:
s3 = boto3.resource("s3")
bucket = s3.Bucket("noaa-goes18")

In [5]:
s3 = boto3.resource("s3")
bucket = s3.Bucket("noaa-goes18")

In [6]:
names = []

In [7]:
for obj in bucket.objects.filter(Prefix="ABI-L1b-RadC/2022"):
    names.append(obj.key)
for obj in bucket.objects.filter(Prefix="ABI-L1b-RadC/2023"):
    names.append(obj.key)

In [8]:
df_names = [i.split('/') for i in names]

In [9]:
data = pd.DataFrame(df_names,columns=['Product','Year','Day','Hour','File Name'])

In [10]:
data.tail()

,Product,Year,Day,Hour,File Name
833624,ABI-L1b-RadC,2023,032,23,OR_ABI-L1b-RadC-M6C16_G18_s20230322336175_e202...
833625,ABI-L1b-RadC,2023,032,23,OR_ABI-L1b-RadC-M6C16_G18_s20230322341175_e202...
833626,ABI-L1b-RadC,2023,032,23,OR_ABI-L1b-RadC-M6C16_G18_s20230322346175_e202...
833627,ABI-L1b-RadC,2023,032,23,OR_ABI-L1b-RadC-M6C16_G18_s20230322351175_e202...
833628,ABI-L1b-RadC,2023,032,23,OR_ABI-L1b-RadC-M6C16_G18_s20230322356175_e202...

In [28]:
# Connect to SQLite database
db_engine = sqlite3.connect("database/s3_metadata.db")

In [29]:
#  Write the data frame to the SQLite database
data.to_sql("goes", db_engine, if_exists="replace")

# Close the connection
db_engine.close()

In [31]:
db_engine = sqlite3.connect("database/s3_metadata.db")
#Reading files from the DB
query = "SELECT * FROM goes;"
goes_data = pd.read_sql(query, db_engine)
db_engine.close()

In [32]:
goes_data.head()

,index,Product,Year,Day,Hour,File Name
0,0,ABI-L1b-RadC,2022,209,00,OR_ABI-L1b-RadC-M6C01_G18_s20222090001140_e202...
1,1,ABI-L1b-RadC,2022,209,00,OR_ABI-L1b-RadC-M6C01_G18_s20222090006140_e202...
2,2,ABI-L1b-RadC,2022,209,00,OR_ABI-L1b-RadC-M6C01_G18_s20222090011140_e202...
3,3,ABI-L1b-RadC,2022,209,00,OR_ABI-L1b-RadC-M6C01_G18_s20222090016140_e202...
4,4,ABI-L1b-RadC,2022,209,00,OR_ABI-L1b-RadC-M6C01_G18_s20222090021140_e202...