In [1]:
import sqlite3
import pandas as pd

In [2]:
db_engine = sqlite3.connect('s3_metadata_goes.db')

In [3]:
query = 'SELECT * FROM goes;'
data = pd.read_sql(query, db_engine)

In [5]:
data.tail()

         index  Year  Day Hour
847592  847592  2023  036   00
847593  847593  2023  036   00
847594  847594  2023  036   00
847595  847595  2023  036   00
847596  847596  2023  036   00